/* ==================== */
/*    COLOR PALETTE     */
/* ==================== */

:root {
  /* White & Black */
  --color-white: #ffffff;
  --color-black: #000000;


  /* Blue */
  --color-blue-950: #0d192c;
  --color-blue-900: #15263f;
  --color-blue-800: #2e405a;
  --color-blue-500: #8bacd9;

  /* Cyan */
  --color-cyan-400: #00fff8;

  /* ## Typography */
  --fw-semibold: 600;
  --fw-medium: 400;
  --fw-light: 300;
}

/* ==================== */
/*    BASE STYLES    */
/* ==================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(1rem, 0.5vw + 0.875rem, 1.25rem);
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--color-blue-950);
  color: var(--color-white);
  font-size: 1.125rem;
  font-weight: var(--fw-medium);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 1.375rem;
  font-weight: var(--fw-semibold);
 
}


.card {
  text-align: left;
  background-color: var(--color-blue-900);
  max-width: 21.875rem;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__image-wrapper {
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;
  cursor: pointer;
}

.card__image {
  display: block; 
  width: 100%;
  border-radius: 0;
   max-width: 400px;
  width: 100%; 
}



.card__description {
  color: var(--color-blue-500);
  font-weight: var(--fw-light);

}

.card__content {
  margin-top: 1.5rem;
}

.card__content > * + * {
  margin-top: 1.5rem;
}

.card__description {
  color: var(--color-blue-500);
  font-weight: var(--fw-light);
  line-height: 145%;
}

.card__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card__info > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card__price {
  color: var(--color-cyan-400);
  font-weight: var(--fw-semibold);
}

.card__icon {
  height: 1.1rem;
  margin-right: 0.5rem;
}


.card__time {
  color: var(--color-blue-500);
  font-weight: var(--fw-light);
}

.card__divider {
  border: 1px solid var(--color-blue-800);
  margin: 1.5rem 0;
}

.card__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.card__author-avatar {
  border: 1px solid var(--color-white);
  border-radius: 50%;
  width: 2rem;
    margin-right: 1rem;
  flex-shrink: 0;
}

.card__author-label {
  color: var(--color-blue-500);
  font-weight: var(--fw-light);
}
.card__author-name {
  color: var(--color-white);
  font-weight: var(--fw-medium);
}




/* HOVER state */

.card__overlay {
  position: absolute;
  inset: 0;
  background-color: hsla(178, 100%, 50%, 0.5); /* cyan at 50% opacity */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card__overlay-icon {
  width: 4.8rem;
}

/* triggered by parent hover */
.card__image-wrapper:hover .card__overlay {
  opacity: 0.8;
}

.card__overlay-icon:hover {
  opacity: 1;
}
.card:hover .card__title {
  color: var(--color-cyan-400);
}
.card:hover .card__author-name {
  color: var(--color-cyan-400);
}